@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Bacasime+Antique&display=swap');

:root{
  --primary-font: 'Arizonia', cursive;
  --secondary-font: 'Bacasime Antique', serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: var(--secondary-font);
}

h1{
  font-family: var(--primary-font);
  margin: 0.5em;
}

.search-bar{
  --webkit-appearance: none;
  border: none;
  outline: none;
  border-radius: 3em;

  font-family: var(--secondary-font);
  font-size: 1.2em;

  padding: .8em 1.5em;
  width: 40%;
}

.card-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin: 4em 2em;
}

.card{
  transition: all 0.3s;
}

.card:hover{
  transform: scale(1.05);  
}

.card__cover{
  width: 60%;
  object-fit: cover;
}